<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Replaceport</title>

<!-- Meta tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="copyright" content="" />
	<meta name="author" content="" />
	<meta name="rating" content="general" />
	<meta name="robots" content="all" />

<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" />

<!-- Stylesheet -->
	<link rel="stylesheet" href="styles/settings.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="styles/layout.css" type="text/css" media="screen, projection">

<!-- Javascript -->

</head>
<body>

<div id="wrapper" class="container">

	<div id="head_scrn" class="screen-l span-9 push-0 pull-0 press-2">
		<div id="head_pane" class="pane-0">

			<div id="tnav_scrn" class="screen-l span-9 push-0 pull-0 press-1">
				<div id="tnav_pane" class="pane-0 stretch-3">
					<ul>
<li><a href="" id="" class="" title="">Home</a></li>
<li><a href="" id="" class="" title="">About</a></li>
<li><a href="" id="" class="" title="">FAQ</a></li>
<li><a href="" id="" class="" title="">Contact</a></li>
<li><a href="" id="" class="" title="">Register</a></li>
<li><a href="" id="" class="" title="">Login</a></li>
					</ul>
				</div>
			</div>

			<div id="titl_scrn" class="screen-l span-6 push-0 press-1">
				<div id="titl_pane" class="pane-0 stretch-7">
<a href="" id="" class="" title=""><img src="images/logo.png" class="" alt="" width="612" height="126" /><h1>Replaceport</h1></a>
				</div>
			</div>

			<div id="logn_scrn" class="screen-r span-3 pull-0 press-1">
				<div id="logn_pane" class="pane-0">
					<form name="" id="" class="" method="" action="">
						<fieldset>
							<ul>
<li><label for="">Username</label><input type="text" name="" id="" class="short" value="" placeholder="Username"><em title="" class="error"></em></li>
<li><label for="">Password</label><input type="password" name="" id="" class="short" value="" placeholder=""><em title="" class="error"></em></li>
							</ul>
						</fieldset>
						<fieldset>
							<ul>
<li><label for="" class="chk">Remember Me</label><input type="checkbox" name="" id="" class="chk" value="" placeholder=""><em title="" class="error"></em></li>
<li><a href="" id="" class="recover" title="">Forgot Password?</a></li>
<li><input type="submit" name="" id="" class="bttn" value="Login" placeholder=""><em title="" class="error"></em></li>
							</ul>
						</fieldset>
					</form>
				</div>
			</div>

<!-- 			<div id="srch_scrn" class="screen-r span-3 pull-0 press-1">
				<div id="srch_pane" class="pane-0 stretch-3">

				</div>
			</div> -->

			<div id="catg_scrn" class="screen-l span-9 push-0">
				<div id="catg_pane" class="pane-0 stretch-3">
					<ul>
<li><a href="" id="" class="" title="">Mods</a></li>
<li><a href="" id="" class="" title="">Files</a></li>
<li><a href="" id="" class="" title="">Parts</a></li>
<li><a href="" id="" class="" title="">Crafts</a></li>
<li><a href="" id="" class="" title="">Apps</a></li>
<li><a href="" id="" class="" title="">Community</a></li>
<li><a href="" id="" class="" title="">Saved Games</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>


	<div id="main_scrn" class="screen-l span-9 push-0 press-2">
		<div id="main__pane" class="pane-0">

			<div id="box1_scrn" class="screen-l span-3 push-0 drop-b press-1">
				<div id="box1_pane" class="pane-0 stretch-24">
					<h3>Most Popular</h3>

					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>
					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>

				</div>
			</div>

			<div id="box2_scrn" class="screen-l span-3 press-1">
				<div id="box2_pane" class="pane-0 stretch-24">
					<h3>Top Rated</h3>

					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>
					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>

				</div>
			</div>

			<div id="box3_scrn" class="screen-l span-3 pull-0 press-1">
				<div id="box3_pane" class="pane-0 stretch-24">
					<h3>Latest Releases</h3>

					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>
					<div class="catalog_item_brief">
							<h3>Project Title</h3>
<span class="version">v1.0</span>
<img src="images/logo.png" class="" alt="" width="64" height="64" />
						<div class="meta_data">
<span class="author">Author Name</span>
<span class="rating">* * * * *</span>
<span class="downloads">10 000</span>
						</div>
						<div class="data_actions">
							<form name="" id="" class="" method="" action="">
								<fieldset>
								<legend></legend>
									<ul>
<li><input type="button" name="" id="" class="" value="Watch" placeholder=""><em title="" class="error"></em></li>
<li><input type="button" name="" id="" class="" value="Report" placeholder=""><em title="" class="error"></em></li>
									</ul>
								</fieldset>
							</form>
						</div>
<span class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>

				</div>
			</div>

			<div id="help_scrn" class="screen-l span-9 push-0 pull-0">
				<div id="help_pane" class="pane-0 stretch-12">
					<h3>What is Replaceport?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>

		</div>
	</div>

	<div id="foot_scrn" class="screen-l span-9 push-0 drop-b">
		<div id="foot_pane" class="pane-0 stretch-3">

			<ul id="foot_menu">
<li><a href="" id="" class="" title="">About Us</a></li>
<li><a href="" id="" class="" title="">Privacy Policy</a></li>
<li><a href="" id="" class="" title="">Terms of Use</a></li>
<li><a href="" id="" class="" title="">Submission Guidelines</a></li>
			</ul>

<a href="" id="copyright" class="" title="">Copyright &copy; Replaceport</a>
		</div>
	</div>

</div>

</body>
</html>